@page "/options.html"
@inject IJSRuntime JS

<h1>Options - Chrome Extension with Blazor WASM</h1>

<div id="buttonDiv">
</div>
<div>
    <p>Choose a different background color!</p>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!firstRender)
        {
            return;
        }
        
        var src = "js/options.js";
        var module = await JS.InvokeAsync<IJSObjectReference>("import", "./js/site.js").ConfigureAwait(false);
        await module.InvokeVoidAsync("loadJs", src).ConfigureAwait(false);
    }
}