@page "/options.html"
@using ChromeExtensionV2.Components
@inherits PageComponentBase

<PageTitle>Options</PageTitle>

<h1>Options - Browser Extension with Blazor WASM</h1>

<div id="buttonDiv">
</div>
<div>
    <p>Choose a different background color!</p>
</div>

@code {
    protected override async Task LoadAdditionalJsAsync()
    {
        var src = "js/options.js";
        await this.Module.InvokeVoidAsync("loadJs", src).ConfigureAwait(false);
    }
}